body {
  color: $white-color;
}

.navbar-brand {
  padding: 0;
  margin-right: 40px;
  img {
    max-width: 100px;
    display: inline-block;
  }
}
body {
  padding-top: 116px !important;
}
.navbar {
  &.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    @extend %shadow;
  }
}
.right-grid {
  display: flex;
  align-items: center;

  .right-link {
    display: inline-block;
    padding: 30px 15px;
    position: relative;
    z-index: 1;
    cursor: pointer;

    .counter {
      position: absolute;
      right: 8px;
      top: 22px;
      z-index: 2;
      width: 22px;
      height: 22px;
      line-height: 22px;
      text-align: center;
      background-color: $black-color;
      color: $white-color;
      border-radius: 50%;
      display: inline-block;
      overflow: hidden;
      @extend %shadow;
    }
  }

  svg {
    font-size: 32px;
    fill: $black-color;
    z-index: 1;
  }
}

/**/
.sideMenuProducts {
  position: fixed;
  height: 100vh;
  width: 300px;
  right: -340px;
  top: 0;
  z-index: 999;
  padding: 10px;
  background-color: $white-color;
  @extend %shadow;
  @extend %ease;

  &.show {
    right: 0;
  }

  .mini-cart-header {
    font-size: 22px;
    color: $black-color;
  }
}

.close {
  position: absolute;
  left: -39px;
  background-color: #fff;
  padding: 5px 15px;
  top: 50px;
  opacity: 1;
  border-radius: 30px 0 0 30px;
  border: 1px solid $control-color;
  border-right: 1px solid $white-color;
}

.card-image {
  img {
    width: 200px;
  }
}

/*single-product-wrapper*/
.single-product-wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cacaca;
  flex-direction: row;
  align-items: center;
  border-radius: 0;
  padding: 5px;
  border-bottom: 1px solid $control-color;

  .card-image {
    img {
      width: 75px;
      height: auto;
      padding: 5px 5px 5px 0;
    }
  }

  .product-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 5px;

    .product-title {
      font-size: 14px;
      color: $black-color;
      margin-bottom: 0;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .quantity {
      border: 0 !important;
      font-size: 14px;
      color: $font-color;
    }
    .Price-amount {
      display: inline-block;
      margin-left: 5px;
      font-size: 13px;
      color: $black-color;
    }
  }

  .remove-product {
    font-size: 22px;
    color: #c50505;
  }
}

.form-container {
  width: 500px;
  padding: 20px;
  border-radius: $radius;
  margin: 20px auto;
  border: 1px solid $control-color;
  @extend %shadow;
  // background: -webkit-radial-gradient(circle, white, rgb(241, 241, 241));
}

.form-text {
  color: $dark-color;
  font-family: Roboto Sans, sans-serif;
}

.form-label {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 2px;
  display: block;
  color: gray;
}

.signup-link {
  color: $second-color;
  cursor: pointer;
}

.email-err,
.psw-err {
  color: red;
  visibility: visible;
  margin-bottom: 5%;
  padding: 5%;
  font-size: smaller;
}

.product-remove {
  color: #c50505;
  font-size: 25px;

  &:hover {
    color: black;
    cursor: pointer;
  }
}

.table-content {
  text-align: center;
  margin: auto;
  padding: auto;
}

.table-product-view {
  img {
    width: 120px;
  }
  span {
    font-weight: bold;
  }
}
.btn_action {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  border: 1px solid $control-color;
  color: $black-color;
  cursor: pointer;
  @extend %ease;
  &:hover,
  &:focus {
    background-color: $light-grey;
    border: 1px solid $black-color;
  }
}

td,
th {
  vertical-align: middle;
  padding: 16px !important;
}
tfoot {
  font-weight: bold;
  font-size: 16px;
  th {
    text-align: center;
  }
}

/*.swiper-slide*/
.swiper-slide {
  height: 400px;
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
  .parallax-text {
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translateY(-50%);
    text-transform: capitalize;
    h1 {
      font-size: 38px;
      color: $white-color;
      margin-bottom: 10px;
      text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    }
    h3 {
      font-size: 28px;
      color: $white-color;
      margin-bottom: 0;
      text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    }

    .btn-main {
      margin: 40px 0 0;
      width: 200px;
      padding: 12px;
      text-align: center;
    }
  }
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $black-color;
  background: $white-color;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  line-height: 40px;
  transform: translateY(-50%);
  @extend %shadow;
  @extend %ease;
  &:after {
    font-size: 20px;
  }
  &:hover {
    background: $light-grey;
    @extend %ease;
  }
}

.collection-list {
  & > div {
    margin-bottom: 30px;
  }
  .left-grid {
    h2 {
      font-weight: 600;
      line-height: 1.1;
      font-family: "Josefin Sans", sans-serif;
      color: $black-color;
      margin-top: 0;
      margin-bottom: 0.4em;
      font-style: italic;
      font-size: 52px;
    }
    p {
      font-size: 16px;
      color: $font-color;
    }
    a {
      font-size: 16px;
      color: $black-color;
      font-weight: 500;
      text-decoration: underline;
      &:hover,
      &:focus {
        color: $font-color;
      }
    }
  }
  .collection_item {
    position: relative;
    display: flex;
    flex-direction: column;
    .collection_img {
      display: block;
      img {
        display: block;
        @extend %ease;
        &:hover,
        &:focus {
          opacity: 0.7;
        }
      }
    }
    .collection_caption {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 20px 10px;
      text-align: center;
      .collection_title {
        display: inline-block;
        color: $black-color;
        font-size: 13px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 0;
        padding: 10px 15px;
        background-color: $white-color;
        min-width: 120px;
      }
    }
  }
}

/*PRODUCT*/
.product_item_wrap {
  border: 1px solid $control-color;
  border-radius: 10px;
  margin-bottom: 30px;
  background: $white-color;
  position: relative;
  overflow: hidden;
  // padding-bottom: 50px;
  .product_img_wrap {
    position: relative;
    border-bottom: 1px solid $control-color;
    overflow: hidden;

    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    img,
    a {
      display: block;
    }
    img {
      width: 100%;
      max-height: 200px;
      @extend %ease;
    }
  }
  .badge_wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    z-index: 1;
  }
  .product_info {
    padding: 15px;
    text-align: start;
  }
  .product_name {
    font-size: 14px;
    line-height: 1.25;
    color: $black-color;
    margin-bottom: 5px;
    text-transform: capitalize;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    @extend %ease;
    a {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  .product_description {
    font-size: 14px;
    line-height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    @extend %ease;
  }
  .product-price-container {
    margin-top: 8px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    @extend %ease;
    span {
      &:not(:first-of-type) {
        margin-left: 5px;
      }
    }
  }
  .product-price.product-sale-price,
  .product-price.with-discount {
    color: $black-color;
  }
  .product-regular-price {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.111;
    color: $font-color;
    text-decoration: line-through;
  }
  .product-percent-price {
    font-size: 13px;
    background: $second-color;
    padding: 2px;
    color: white;
    border-radius: 4px;
  }

  .cart_action {
    position: absolute;
    left: 0;
    bottom: 0px;
    height: 0;
    padding: 15px;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
    visibility: hidden;
    width: 100%;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn {
      font-size: 12px;
      width: 100%;
      padding: 8px 4px;

      .icon {
        display: inline-block;
        font-size: 18px;
        margin-right: 4px;
      }
      &:first-of-type {
        margin-right: 5px;
      }
    }
  }

  &:hover {
    .product_img_wrap,
    .product_name,
    .product_description,
    .product-price-container {
      -webkit-transform: translateY(-55px);
      transform: translateY(-55px);
      -webkit-transition-delay: 10ms;
      transition-delay: 10ms;
    }
    .product_name {
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s;
    }
    .product_description {
      -webkit-transition-delay: 0.3s;
      transition-delay: 0.3s;
    }
    .product-price-container {
      -webkit-transition-delay: 0.4s;
      transition-delay: 0.4s;
    }
    .cart_action {
      height: inherit;
      opacity: 1;
      visibility: visible;
      -webkit-transition-delay: 0.6s;
      transition-delay: 0.6s;
      bottom: 0;
    }
  }
}
.product_badge {
  padding: 3px 5px;
  font-size: 12px;
  line-height: 15px;
  min-width: 36px;
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
  float: left;
  clear: left;
  box-shadow: 0 3px 3px rgba(192, 199, 203, 0.14);
  &.sale_percent,
  &.product-sale-price,
  &.sale {
    background: $second-color;
  }
  &.new {
    background: #121212;
  }
  &:not(:first-child) {
    margin-top: 7px;
  }
}

//myProductsSwiper
.myProductsSwiper {
  .swiper-slide {
    height: auto;
  }
}
.topNavigation {
  padding-top: 50px;
  .swiper-button-prev,
  .swiper-button-next {
    top: 25px;
    right: 10px;
    transform: unset;
    left: unset;
    border-radius: 10px;
    box-shadow: none;
    border: 1px solid $control-color;
  }
  .swiper-button-prev {
    right: 60px;
  }
}

.full-bg-cover {
  background-image: url(https://www.radiustheme.com/demo/wordpress/themes/metro/wp-content/uploads/2020/02/bench-accounting-scaled.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  background-attachment: fixed;
  .main-title {
    color: $black-color;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.3;
    margin-bottom: 0;
  }
  p {
    margin: 20px 0 0;
    color: $black-color;
  }
  a {
    margin-top: 30px;
  }
}

.footer {
  background-color: $black-color;
  color: $white-color;
  padding-bottom: 30px;
  margin-top: auto;

  h4 {
    color: $white-color;
    font-size: 18px;
  }
  .img {
    width: 150px;
    margin-bottom: 20px;
  }
  .footer-links {
    a {
      display: block;
      margin-bottom: 10px;
      &:hover,
      &:focus {
        color: $control-color;
      }
    }
  }
  span {
    display: inline-block;
  }
}

//breadcrumbs_wrapper
.breadcrumbs_wrapper {
  background: url("../images/banner.jpg") no-repeat;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  .breadcrumb {
    margin: 0;
    justify-content: center;
  }
  .breadcrumb-item + .breadcrumb-item::before {
    display: none;
  }
  .breadcrumb-item {
    font-size: 16px;
    &.active {
      color: $black-color;
    }
  }
}

.product_details_wrapper {
  .productSwiper {
    .swiper-slide {
      height: 320px;
    }
  }
  .top-description {
    h5 {
      &.product_name {
        .product_name_text {
          width: calc(100% - 60px);
          display: inline-block;
          margin-right: 10px;
        }
        .price {
          display: inline-block;
          width: 60px;
        }
      }
    }
    p {
      display: flex;
      align-items: center;
    }
    .bold {
      font-weight: 600;
      color: $black-color;
      margin-left: 5px;
      display: inline-block;
    }
    .MuiRating-root {
      font-size: 17px;
    }
  }
}
.cart_wrapper {
  .product_name {
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }
}
