// media query

@media (min-width: 768px) {
  .navbar-expand-md {
    .navbar-collapse {
      justify-content: space-between;
      align-items: center;
    }
    .navbar-nav {
      .nav-link {
        padding: 30px 15px;
      }
    }
  }
}
@media (max-width: 991px) {
  .navbar-collapse {
    display: block;
    overflow: hidden;
    width: 0px;
    height: 0;
    visibility: hidden;
    opacity: 0;
    &.show {
      opacity: 1;
      visibility: visible;
      height: auto;
      width: auto;
    }
  }
  .right-grid {
    position: absolute;
    top: 38px;
    left: 126px;
    width: 100px;
    height: 30px;
    visibility: visible;
    display: flex !important;
    .right-link {
      padding: 10px;
      svg {
        font-size: 32px;
      }
      .counter {
        right: 2px;
        top: 2px;
      }
    }
  }
  .navbar-brand {
    margin-right: 20px;
    img {
      max-width: 70px;
    }
  }
}
@media (max-width: 992px) {
  p {
    font-size: 13px;
  }
}

@media (max-width: 576px) {
}
